<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>wonjin기본정보</title>

        <style>
            table {
                border: 2px;
                border-collapse: collapse;
                text-align: center;
            }
            th, td {
                border: 1px solid;
                padding: 10px 5px;
            }
            th {
                background-color:antiquewhite;
            }
            caption {
                caption-side: bottom;
            }
        </style>
    </head>
    <body>
        <h1>기본 정보</h1>
        <article>
            <span>이름</span> : 송원진<br>
            <span>생일</span> : 2001.02.04<br>
            <span>성별</span> : 여자
            <p>
                현재 단국대학교 소프트웨어학과 재학생으로 20학번, 3학년입니다. <br>
                코로나로 인해 대학생이 되고 나서 학교생활은 처음 즐겨보는데 재밌습니다. <br>
                <br>
                전공 중에서 가장 관심이 있는 분야는 iot와 데이터 분석입니다. <br>
                현재는 실력이 되지 않아 깊이있게 해보겠다는 생각은 못하지만 추후에 10년이 지나더라도 이 분야를 전문적으로 공부를 해보고 싶습니다. <br>
                지금 하고 싶은 분야는 프론트 입니다. <br>
                <br>
                동기들과 대면수업을 듣는 것도 즐겁고, 선 후배들을 만나는 것도 재밌습니다. <br>
                이런 소소한 것들이 중요하고 소중하다는 것을 지금에서야 알았다는 점이 너무 아쉽기도 하고, 어서 빨리 이 상황이 끝났으면 좋겠습니다. <br>
                이전의 모습으로 빨리 돌아가서 축제도 하고 다양한 경험을 해봤으면 좋겠다는 생각을 항상 하고 있습니다. <br>
                <br>

            </p>
        </article>
        <article>
            <table>
                <caption>wonjin 기본정보 요약</caption>
                <br>
                <tbody>
                    <tr>
                        <th>성격</th>
                        <th>mbti</th>
                        <th>장점</th>
                        <th>단점</th>
                        <th>취미</th>
                        <th>흥미</th>
                    </tr>
                    <tr>
                        <td>활발하다.</td>
                        <td>I:51 / E:49</td>
                        <td>섬세하다</td>
                        <td>생각이 많다</td>
                        <td>영화보기</td>
                        <td>프론트엔드</td>
                    </tr>
                    <tr>
                        <td>착하다</td>
                        <td>S:58 / N:42</td>
                        <td>눈치가 빠르다</td>
                        <td>행동이 느리다</td>
                        <td>종이 접기</td>
                        <td>iot</td>
                    </tr>
                    <tr>
                        <td>성실하다</td>
                        <td>F:69 / T:31</td>
                        <td>배려심</td>
                        <td>시간을 낭비하는 경향이 있다</td>
                        <td>우드카빙</td>
                        <td>데이터 분석</td>
                    </tr>
                    <tr>
                        <td>차분하다</td>
                        <td>J:71 / P:29</td>
                        <td>꼼꼼하다</td>
                        <td></td>
                        <td>토퍼(장식품)만들기</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </article>
    </body>
</html>