<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF/8">
        <title>wonjin학교정보</title>
    </head>
    <body>
        <h1>학교 정보</h1>
        <p>
            학교 : 단국대학교 <br>
            학과 : 소프트웨어학과 <br>
            학번 : 32202319 <br>
            학년 : 3학년 <br>
            수강 학점 : 102 학점 <br>
            부족 학점 : 38 학점 <br>
        </p>
        <hr>
        <div>
            <img src="./img/edu1.jpg" alt="이수기준표1" style="width: 500px; height: auto;">
            <img src="./img/edu2.jpg" alt="이수기준표2" style="width: 500px; height: auto;">
            <img src="./img/edu3.jpg" alt="이수기준표3" style="width: 500px; height: auto;">
        </div>
        <div>
            <h3>수강과목</h3>
            <h5>전공소양(SW융합소양)</h5>
            <div>
                <ul>
                    <li>소프트웨어개론(529480) / 정혜진교수님 / 2학점 / 2020-1</li>
                </ul>
            </div>

            <h5>전공소양(SW융합수학)</h5>
            <div>
                <ul>
                    <li>수학일반1(529520) / 김연욱교수님 / 3학점 / 2020-1</li>
                    <li>수학일반2(529530) / 김연욱교수님 / 3학점 / 2020-2</li>
                    <li>선형대수(359210) / 윤석현교수님 / 3학점 / 2021-1</li>
                    <li>확률및통계학(438540) / 전경배교수님 / 3학점 / 2021-1</li>
                </ul>
            </div>

            <h5>전공소양(SW융합코딩)</h5>
            <div>
                <ul>
                    <li>SW융합코딩1(529540) / 이원진교수님 / 3학점 / 2020-1</li>
                    <li>SW융합코딩2(529550) / 이원진교수님 / 3학점 / 2020-2</li>
                </ul>
            </div>
            
            <h5>전공소양(DK로드맵)</h5>
            <div>
                <ul>
                    <li>DK로드맵(540000) / 1학점 / 2020-0</li>
                </ul>
            </div>

            <h5>Pose(OpenSource)</h5>
            <div>
                <ul>
                    <li>오픈소스SW활용(524820) / 송영상교수님 / 3학점 / 2022-1</li>
                </ul>
            </div>

            <h5>Pose(English)</h5>
            <div>
                <ul>
                    <li>SW프로페셔널영어쓰기(527550) / 데이비드칼리노스키교수님 / 2학점 / 2020-2</li>
                </ul>
            </div>

            <h5>심화전공_전공필수</h5>
            <div>
                <ul>
                    <li>프로그래밍(426400) / 이석균교수님 / 3학점 / 2020-1</li>
                    <li>고급프로그래밍(524840) / 우사무엘교수님 / 3학점 / 2020-2</li>
                    <li>객체지향프로그래밍(527790) / 이계성교수님 / 3학점 / 2021-1</li>
                    <li>시스템프로그래밍(SW)(527820) / 최종무교수님 / 3학점 / 2021-2</li>
                    <li>컴퓨터구조(418520) / 조경산교수님 / 3학점 / 2021-2</li>
                    <li>자료구조(SW)(527800) / 황두성교수님 / 3학점 / 2021-2</li>
                    <li>운영체제(SW)(527810) / 최종무교수님 / 3학점 / 2022-1</li>
                </ul>
            </div>
            
            <h5>심화전공_전공선택</h5>
            <div>
                <ul>
                    <li>데이터베이스기초(452660) / 오세종교수님 / 3학점 / 2021-1</li>
                    <li>영상정보처리(378260) / 박제호교수님 / 3학점 / 2021-1</li>
                    <li>멀티미디어시스템(339170) / 박규식교수님 / 3학점 / 2021-1</li>
                    <li>웹프로그래밍(383280) / 박제호교수님 / 3학점 / 2021-2</li>
                    <li>Design pattern(524640) / 박용범교수님 / 3학점 / 2021-2</li>
                    <li>모바일플랫폼(524850) / 이원진교수님 / 3학점 / 2022-1</li>
                    <li>컴퓨터네트워크(SW)(527830) / 박홍식교수님 / 3학점 / 2022-1</li>
                    <li>알고리즘(372460) / 최홍인교수님 / 3학점 / 2022-1</li>
                    <li>SW보안개론(524660) / 조성제교수님 / 3학점 / 2022-1</li>
                </ul>
            </div>

            <h5>교양과정_핵심</h5>
            <div>
                <ul>
                    <li>대학영어1(539250) / 매튜웨스트교수님 / 3학점 / 2020-1</li>
                    <li>대학영어2(539260) / 조영상교수님 / 3학점 / 2020-2</li>
                    <li>대학글쓰기(539240) / 이효윤교수님 / 3학점 / 2020-2</li>
                    <li>진로설계와자기계발(470580) / 김성수교수님 / 2학점 / 2020-2</li>
                    <li>창의적사고와코딩(SW)(525310) / 김윤이교수님 / 2학점 / 2020-1</li>
                    <li>대학기초SW입문(SW)(526500) / 김윤이교수님 / 2학점 / 2020-2</li>
                    <li>전공별AI활용(SW)(540610) / 박소현교수님 / 2학점 / 2021-2</li>
                    <li>명저읽기:자연(539230) / 오준영교수님 / 3학점 / 2020-1</li>
                </ul>
            </div>

            <h5>교양과정_최저학점</h5>
            <div>
                <ul>
                    <li>현대사회와법(516790) / 박정원교수님 / 3학점 / 2021-1</li>
                    <li>국악감상(318050) / 윤명원교수님 / 2학점 / 2021-1</li>
                    <li>긍정심리학(539190) / 오은주교수님 / 3학점 / 2021-2</li>
                </ul>
            </div>
        </div>
    </body>
</html>